body {
    margin: 0;
}

.mapContainer {
    height: 80vh;
}

#map {
  height: 100%;
  position: fixed;
}

#map img {
  float: right;
  height: 100px;
  width: 100px;
}

.header {
    margin-top: 15px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 15px;
}

.card-image > span {
  text-align: center;
}

.usernameInput::placeholder {
  color: white;
  text-align: center;
}
