body {
    margin: 0;
    /* background-color: #f9f7f7; */
    background-color: #010211;
    color: #dbe2ef;
}

.header {
  margin-top: 15px;
  padding: 10px;
  background-color: #3f72af;
  border-radius: 15px;
}

.mapContainer {
    height: 80vh;
}

#map {
  height: 100%;
  position: fixed;
}

.card-image > span {
  text-align: center;
}

.usernameInput::placeholder {
  color: white;
  text-align: center;
}

h4 {
  color: #3f72af;
  visibility: hidden;
}

button {
  background-color: #efa35c !important;
}

.concertCards {
  color: #010211;
}